<div class="service-sidebar">
  <h3>I nostri servizi</h3>
  <ul class="service-sidebar-list">
    <li><a href="sanificazioni.html">Sanificazioni</a></li>
    <li><a href="derattizzazione.html">Derattizzazione</a></li>
    <li><a href="lotta-biologica.html">Lotta biologica integrata</a></li>
    <li><a href="lotta-chimica.html">Lotta chimica mirata</a></li>
    <li><a href="allontanamento-volatili.html">Allontanamento volatili</a></li>
    <li><a href="disinfestazioni.html">Disinfestazioni</a></li>
    <li><a href="diserbo-biologico-vapore.html">Diserbo biologico a vapore</a></li>
    <li><a href="disinfestazione-automatizzata.html">Disinfestazione automatizzata</a></li>
    <li><a href="pannelli-fotovoltaici.html">Pannelli fotovoltaici</a></li>
  </ul>
  <a href="{{base}}contatti.html" class="btn btn-primary sidebar-preventivo-btn">Richiedi preventivo</a>
</div>
